.message {
	color: white;

	font-size: 1.3rem;
}

.container {
	background-color: #43339e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 20px;
	height: 10rem;
	width: 32rem;
}

.title {
	position: absolute;
	margin: auto;
	padding: 0.6rem 1.2rem;
	top: -19px;
	color: #43339e;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	font-weight: 700;
	font-size: 1.3rem;
}

.backHomeBtn {
	background-color: #cc3d6a;
	color: white;
	border: none;
	font-size: 1.1rem;
	width: 32rem;
	height: 3rem;
	border-radius: 15px;
	cursor: pointer;
	font-family: inherit;
	margin-top: 2rem;
}
