:root {
	--almost-white: #ebeaf1;
	--purple: #43339e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
}

#wp_quiz {
	height: 100%;
	width: 100%;
	font-family: "Montserrat", serif;
	background-color: var(--almost-white);
}

header {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #43339e;
	color: white;
	gap: 1rem;
	cursor: pointer;

	.logo {
		width: 2.5rem;
	}
}

main {
	min-height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
